 body {
   width: 100%;
   /*margin: 0 auto;*/
   background-color: #008080;
 }
 
 ul,li {
   background-color: #008080;
   text-align: center;
 }

h1{
  background-color:#00C0C0;
  text-align: center;
  color:black;
}
 .cuerpo-principal {
   background-color: #008080;
   color:#DCDCDC;
   margin: 10px auto 0px auto;
   width: 1000px;
 }
 
 