/*
 Clases por defecto
 */
html {
   background-color:#008080;
   margin: 0 auto;
   padding: 0px;
 }
 body {
   width: 100%;
   margin: 0 auto;
   background-color: transparent;
   color:color: #FFFFCC;  
 }
h1{
  color:white;
  text-align:center;
  background-color:black;
}
li{
  display:inline;
  background:transparent;
  margin-left:20px;
  margin-right:20px;
}
ul{
  background-color:#A0A0A0;
}
a{
  text-decoration:none;
  color:black;
}
h2{
  background-color:black;
  color:white;
  width:190px;
  margin-left:30px;
  margin-right:50px;
  float:left;
  text-align:center;
  margin-bottom:0px;
}
h3{
  text-align:center;
}
dt{
  color:#00FFFF;
}
dd{
  color:red;
}

/*Contenido de cada lectura:*/
 .cuerpo-principal {
   width: 900px;
   margin: 30px auto 0px auto;
   overflow: hidden;
   background-image:url("../imagenes/libropoe.jpg");
   background-size:100% 100%; 
   color:red;
   
 }
 .listacuentos {
   width: 900px;
   margin: 30px auto 0px auto;
   overflow: hidden;
 }
 .cuento{
   color:white;
   overflow:scroll;
   height: 380px;
   width: 960px;
   margin-left:300px;
   margin-top:0px;
   background-color:#004040; 
}

/*Imagenes:*/
.imagenCuento{
  height:300px; 
  width:250px;
  float: left;
  margin-left:10px;
  margin-top:10px;
  margin-bottom:10px;
}
.imagenPoe{
  margin-left:300px;
  
}
.resena{
  width:350px;
  margin-left:20px;
  margin-right:50px;
  margin-top:50px;
  float:left;
  background-color:#00C0C0;
}
.critica{
  width:350px;
  margin-left:20px;
  margin-right:50px;
  margin-top:50px;
  margin-bottom:100px;
  float:left;
  background-color:#00C0C0;
}
.conclusion{
  width:350px;
  margin-left:50px;
  margin-right:20px;
  margin-top:50px;
  margin-bottom:100px;
  float:left;
  background-color:#00C0C0;
}
.Glosario{
  margin-top:400px;
  width:450px;
  margin-left:450px;
  background-image:url("../imagenes/libropoe.jpg");
  background-size:100% 100%; 
  
}
.pie{
   background-color:black;
}

 